.base {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #43b3a4;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  font-family: Roboto;
  border: 0px;
  width: 300px;
}

.delete {
  background: red;
}
