.inputWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: 10px 10px;
}

.input {
  max-width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  border: none;
  height: 3rem;
}

.error {
  color: tomato;
  font-size: 12px;
}
