.CVMaker {
  width: 30vw;
}

@media (max-width: 1150px) {
  .CVMaker {
    width: 100vw;
  }
}

.CVMaker__personText {
  font-family: Roboto;
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.input {
  max-width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  border: none;
  height: 3rem;
}

.SVMaker__personForm {
  max-width: 100%;
  font-family: Roboto;
}

.inputSeparator {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px 10px;
}
/* } удалить попозже */

.error {
  color: tomato;
  font-size: 12px;
}
